<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.farrell.encode-decode.alfredworkflow</string>
	<key>connections</key>
	<dict>
		<key>807BFA1D-EAEC-4DB7-B04E-6371C601A9E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1EB2B864-2602-4BF2-AEE5-80092DCE02FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96A609DD-13FB-44C7-9ADB-F3BC94017A65</key>
		<array/>
		<key>D9450D59-0E2F-4E83-9BDD-7EAF0878E5DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1EB2B864-2602-4BF2-AEE5-80092DCE02FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>will Farrell</string>
	<key>description</key>
	<string>Encode/Decode Strings</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Encode / Decode (v1.8)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>96A609DD-13FB-44C7-9ADB-F3BC94017A65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>encode</string>
				<key>runningsubtext</key>
				<string>Encoding "{query}"</string>
				<key>script</key>
				<string>php encode.php "$(./normalise -form NFC "{query}")"</string>
				<key>subtext</key>
				<string>Encode "{query}"</string>
				<key>title</key>
				<string>Encode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>807BFA1D-EAEC-4DB7-B04E-6371C601A9E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>decode</string>
				<key>runningsubtext</key>
				<string>Decoding "{query}"</string>
				<key>script</key>
				<string>php decode.php "$(./normalise -form NFC "{query}")"</string>
				<key>subtext</key>
				<string>Decode "{query}"</string>
				<key>title</key>
				<string>Decode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D9450D59-0E2F-4E83-9BDD-7EAF0878E5DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1EB2B864-2602-4BF2-AEE5-80092DCE02FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EB2B864-2602-4BF2-AEE5-80092DCE02FF</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>72E910A8-F09C-4863-9F54-F60E273C59AB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>807BFA1D-EAEC-4DB7-B04E-6371C601A9E7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>96A609DD-13FB-44C7-9ADB-F3BC94017A65</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D9450D59-0E2F-4E83-9BDD-7EAF0878E5DC</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/willfarrell</string>
</dict>
</plist>
